html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #000;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.main-content {
  opacity: 1;
  position: relative;
  width: 700px;
  left: 50%;
  margin-top: 17%;
  margin-bottom: 20%;
  margin-left: -350px;
  padding: 30px;
  color: #EEEFF7;
  text-align: center;
  background-color: rgba(68, 88, 120, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -0-border-radius: 10px;
  border-radius: 10px;
}
.main-content h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 6em;
  line-height: 0.5em;
  margin-bottom: 60px;
}
.main-content h3 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: 30px;
}
.main-content h3:last-child {
  margin: 0;
}
.main-content p {
  font-size: 1.25em;
  margin-bottom: 30px;
}
.censor-bar {
  font-size: 90%;
  display: inline-block;
  background-color: #EEEFF7;
  text-decoration: line-through;
}
.rotate-cw {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}
div#bg-img, video#bg-vid {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
div#bg-img {
  opacity: 0;
  z-index: -9999;
}
video#bg-vid {
  opacity: 1;
  z-index: -9998;
}
.toggle {
  position: absolute;
  right: 0px;
  bottom: 122px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #EEEFF7;
  background-color: #1C1D21;
  border-top-left-radius: 10px;
}
#toggle-video:hover, #toggle-content:hover {
  color: #AEEE00;
  text-decoration: underline;;
}

@media (max-width: 767px) {
  body {
    margin-bottom: 325px;
  }
  .main-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 25%;
    left: 0;
    padding: 15px;
  }
  .main-content h1 {
    font-size: 4em;
  }
  .main-content h3 {
    font-size: 1.5em;
  }
  .main-content p {
    font-size: 1em;
  }
  .toggle {
    display: none;
  }
  .censor-bar {
    font-size: 70%;
  }
}


/* -------------- */
/* ====NAVBAR==== */
/* -------------- */
.navbar, 
.navbar-default {
  background-color: #1C1D21;
  border-color: transparent;
}
.navbar-brand > img {
  width: auto;
  height: 80px;
}
.navbar .nav {
  font-size: 1em;
  padding: 10px;
}
a.navbar-brand {
  height: 100%;
}
ul.nav {
  margin-top: 20px;
}
ul.nav > li > a {
  font-size: 1.25em;
}

/*===TITLE===*/
.navbar-default .navbar-brand {
    color: #EEEFF7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #AEEE00;
}

/*===LINK===*/
.navbar-default .navbar-nav > li > a {
    color: #EEEFF7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #AEEE00;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    text-decoration: underline;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    text-decoration: underline;
    background-color: transparent;
}

/*===MOBILE MENU BUTTON===*/
.navbar-default .navbar-toggle {
    border-color: #EEEFF7;
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #AEEE00;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #EEEFF7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #EEEFF7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #AEEE00;
  }
  .navbar-brand > img {
    width: auto;
    height: 40px;
  }
  .navbar a.navbar-brand{
    padding: 5px 0px 0px 10px;
  }
  .navbar {
    padding: 5px 0px 5px 0px;
  }
  ul.nav {
    margin: auto;
  }
  ul.nav > li > a {
    font-size: 1.2em;
    text-align: center;
  }
  #bs-example-navbar-collapse-1 {
    border-top: 1px solid #EEEFF7;
    margin-top: 5px;
    padding-top: 5px;
  }
}

/* -------------- */
/* ====FOOTER==== */
/* -------------- */
.footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 10px 20px 10px;
  background-color: #1C1D21;
}
.footer-text li,
.footer-text a,
.footer-text ul {
  padding: 0;
  margin: 0;
  line-height: 150%;
  list-style: none;
  color: #444954;
}
.footer-col-r {
  border-left: 1px solid #444954;
}
.footer-text > ul > li > a:hover {
  color: #AEEE00;
}

@media (max-width: 767px) {
  .footer-container {
    padding: 10px;
  }
  .footer-col-l {
    padding: 0px 0px 20px 0px;
    border-left: none;
  }
  .footer-col-r {
    border-left: none;
    border-top: 1px solid #444954;
    padding-top: 20px;
  }
  .footer-text {
    padding-left: 0px;
  }
}

/* -------------- */
/* =====PODS===== */
/* -------------- */
.pod-description {
  margin-bottom: 50px;
}
.pod-description h3 {
  color: #EEEFF7;
  text-align: center;
  line-height: 150%;
  padding-bottom: 50px;
  border-bottom: 1px solid #EEEFF7;
}
.pod-container {
  font-size: 1em;
}
.pod-wrapper {
  margin-top: 150px;
  margin-bottom: 150px;
}
.pod {
  padding: 10px;
  margin-bottom: 50px;
}
.pod img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.pod h4 {
  padding: 10px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  color: #EEEFF7;
  background-color: #1C1D21;
}
.pod p {
  font-size: 1.4em;
  line-height: 1.5em;
  width: 100%;
  padding: 10px;
  color: #1C1D21;
  text-align: left;
}

@media (max-width: 991px) {
  .pod-wrapper {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .pod {
    margin-bottom: 20px;
  }
  .pod-container > div:last-child {
    margin-bottom: 0px;
  }
  .pod h4 {
    font-size: 2em;
  }
  .pod-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 95%;
  }
  .pod-description h3 {
    font-size: 1.25em;
  }
  .pod p {
    font-size: 1em;
    padding: 10px;
  }
}